body {
  margin: 0;

  font-family: Rubik, sans-serif;
  

  font-size: 16px;
  line-height: 24px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 1172px;
  margin: 0 auto;
}

/* Header */
.header {
  padding-top: 22px;
  padding-bottom: 22px;

  background: #ffffff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;

  position: relative;
  top: 8px;
}

.header__links-group {
  font-family: Rubik, sans-serif;

  display: flex;
  gap: 70px;
  justify-content: center;

  align-items: center;
  height: 100%;
}

.header__links-list {
  display: flex;
  gap: 70px;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.header__link {
  color: #342b2b;
  font-size: 16px;

  text-decoration: none;
}

.header__link-with-image {
  display: flex;
  gap: 9px;
}

/* Button */
.header__buttons-group {
  font-family: Rubik, sans-serif;
  font-size: 16px;

  display: flex;
  gap: 6px;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.header__button-register {
  font-family: Rubik, sans-serif;
  padding: 6px 24px;

  background-color: #ffffff;
  color: #1e3daf;
  font-size: 16px;

  border: 2px solid #1e3daf;
  border-radius: 4px;

  cursor: pointer;
}

.header__button-login {
  font-family: Rubik, sans-serif;
  padding: 6px 24px;

  background-color: #1e3daf;
  color: #ffffff;
  font-size: 16px;

  border: 2px solid #1e3daf;
  border-radius: 4px;

  cursor: pointer;
}

/* Block banner */

.banner {
  padding: 0 375px 100px 375px;
  display: flex;
  font-family: Roboto Slab, sans-serif;
  margin: 0 auto;
  background-color: #eef1f2;
  box-shadow: inset 10px 10px 20px -10px #9f9d9d;
}

.banner__title {
  font-family: Roboto Slab, sans-serif;
  margin-top: 100px;
  margin-bottom: 60px;
  line-height: 55px;
  font-size: 42px;
  font-weight: bold;
}

.banner__text {
  font-family: Rubic, sans-serif;
  margin-top: 60px;
  line-height: 24px;
  margin-bottom: 60px;
  width: 565px;
  height: 72px;
}

.banner__list {
  font-family: Rubic, sans-serif;
  margin-bottom: 60px;
  display: flex;
  gap: 120px;
}

.banner__list-word {
  font-weight: bold;
}

.banner__button {
  font-family: Roboto Slab, sans-serif;
  padding: 12px 60px 12px 61px;
  background-color: #1e3daf;
  color: #ffffff;
  font-size: 16px;
  border: 2px solid #1e3daf;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.banner__figures {
  margin-left: 60px;
}

.banner__figures-element {
  font-size: 46px;
  color: #ffffff;
  position: absolute;
  bottom: 8px;
  right: 2px;
  font-weight: bold;
}

.banner__figures-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 243px;
  height: 243px;
  border-radius: 50%;
  background-color: #ffffff;
}

.banner__figures-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92.4px;
  height: 92.4px;
  background-color: #1e3daf;
  position: relative;
}

/* Block about */
.about {
  padding: 0 375px 30px 375px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__title {
  font-family: Roboto Slab, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 100px;
}

.about__text {
  margin-bottom: 28px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

.about__box {
  display: flex;
  align-items: start;
  gap: 40px;
  margin-bottom: 150px;
}

.about__block {
  display: inline;
  align-items: center;
  text-align: center;
}

/* about__image */
.about__image {
  margin-bottom: 10px;
  flex-shrink: 0;
}

.about__image-React {
  width: 58px;
  height: 52px;
}

.about__image-Redux {
  width: 58px;
  height: 55.23px;
}

.about__image-JS {
  width: 52.63px;
  height: 58px;
}

.about__image-Git {
  width: 58px;
  height: 58px;
}

.about__image-Mongo {
  width: 25.92px;
  height: 58px;
}

.about__image-MySQL {
  width: 58px;
  height: 56.82px;
}

.about__name {
  font-family: Rubik, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #342b2b;
  display: flex;
  justify-content: center;
  text-align: center;
}

.about__picture {
  width: 464px;
  height: 348px;
  margin-left: 40px;
  margin-top: 193px;
}

/* Block aside */
.aside {
  padding: 0 375px 30px 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 150px;
}

.aside__title {
  font-family: Roboto Slab, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}

.aside__block {
  display: flex;
  gap: 17px;
}

.aside__group {
  margin-top: 5px;
}

.aside__sign {
  width: 14px;
  height: 14px;
  background: #eef1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside__triangle {
  width: 3.29px;
  height: 3.24px;
  border-top: 3.24px solid #eef1f2;
  border-right: 3.29px solid transparent;
}

.aside__list {
  font-family: Rubic, sans-serif;
  size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.aside__square {
  width: 565px;
  height: 398px;
  background-color: #ffffff;
  padding-left: 40px;
  padding-top: 60px;
  box-shadow: 0px 32px 42px rgba(30, 61, 175, 0.04);
  border-radius: 4px;
}

.aside__figure {
  width: 565px;
  height: 18px;
  background-color: #eef1f2;
  display: flex;
}

.aside__circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
  margin-left: 40px;
  margin-right: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.aside__circle + .aside__circle {
  margin-left: 4px;
}

/* Block information */

.information {
  margin-bottom: 154px;
}

.information__title {
  font-family: Roboto Slab, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}

.information__text {
  font-family: Rubic, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.information__block {
  display: flex;
  gap: 8px;
}

.information__image {
  width: 162px;
  height: 200px;
}

.information__name {
  font-family: Roboto Slab, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.information__square {
  width: 101px;
  height: 4px;
  background-color: #1e3daf;
  margin-bottom: 12px;
}

.information__discription {
  font-family: Rubic, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-right: 58px;
}

/* Block part */

.part__line {
  width: 100%;
  height: 1px;

  opacity: 0.2;
  border: 1px solid #342b2b;
}

.part__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 60px;
}

.part__text {
  font-family: Rubic, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.part__block {
  display: flex;
  gap: 41px;
  margin-bottom: 150px;
}
